html, body {
    margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: white;
}

#c {
    position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #55AAAA;
}

.loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #55AAAA;
	left: 0;
	top: 0;
	z-index: 999;
}

.loader__text {
	display: flex;
	height: 100%;
	margin: 0;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
}

.player {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 3rem;
	left: 0%;
	box-sizing: border-box;
	bottom: 0;
	z-index: 99;
}

.album {
	background-image: url(assets/album.jpg);
	background-size: cover;
	width: 15rem;
	height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem;
	box-sizing: border-box;
	line-height: 1.4;
	box-shadow: 0rem .5rem 1rem rgba(34, 85, 81, .5);
}

.button {
	filter: drop-shadow(0rem .5rem 1rem rgba(34, 85, 81, .5));
}


.album__title {
	font-weight: bold;
	margin: 0;
}

.album__band {
	margin: 0;
}

.spacer {
	width: 15rem;
	height: 15rem;
}

footer {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: .5rem;
	left: 0%;
	bottom: 0;
	z-index: 99;
}

footer a {
	text-decoration: none;
	color: white;
	margin-left: .5rem;
}

footer a:hover {
	text-decoration: underline;
}